apiVersion: batch/v1
kind: Job
metadata:
  name: db-migration-job
  namespace: easyshop
spec:
  template:
    metadata:
      name: db-migration
    spec:
      containers:
      - name: db-migration
        image: isthatyou/easyshop-migration:19
        imagePullPolicy: Always
        env:
        - name: MONGODB_URI
          value: "mongodb://mongodb-svc:27017/easyshop"
      restartPolicy: OnFailure
